body {
    color: #717171;
    font-family: Malgun Gothic,"맑은 고딕",AppleGothic,Dotum,"돋움",sans-serif;
    font-size: 12px;
    line-height: 1.4;
}


header span{
    position: relative;
    right: 1000px;
}


article{
    margin-top: 60px;
    padding-left: 140px;
}

.right-box{
    padding-left: 450px;
}

.left-box{
    float: left;
}


ul.item{
    padding: 0px;
    border-top: 1px solid #e9e9e9;
}

.item li{
    padding-top:20px;
}

ul.item strong{
    float: left;
    width: 80px;
    height: 10px;
}

.item div{
    display: inline-block;
    
}

/* 판매가 텍스트 */
div.price{
    position: relative;
    bottom: 5px;
    color: #0ea2c1;
    font-size: 20px;
}

.amount-box{
    padding-left: 60px;
    padding-top: 20px;
    padding-right: 30px;
    background-color:#F5F5F5; 
    width: 350px;
    height: 77px;
}

/* 수량텍스트 */
input.goods-cnt{
    text-align:center;
    height: 33px;
    width: 55px;
}

.count-area{
    position: relative;
    bottom: 1px;
}

.count-area > a:first-child{
    float: left;
}

.count input.goods-cnt{
    float: left;
}

.count-area a{
    display: block;
    margin: 0px;
    padding: 0px;
    height: 16px;
}

.price-box{
    padding-top: 20px;
    width: 350px;
    height: 83px;
}

.space{
    float: left;
    width: 163px;
}
.price-right{
    float:right;
}

.price-right > div:first-child{
    height: 30px;
    border-bottom: 1px solid black;
}

.price-right span{
    margin-right:40px;
    
}

.price-right span, strong{
    font-size: 14px;
}

.goods-amount{
    position: relative;
    bottom: 3px;
    float: right;
    font-size: 18px;
}

span#amount{
    color:black;
}

#amount+strong{
    color:#0ea2c1;
    font-size: 28px;
}

.btngroup{
    margin-top: 10px;
    float: left;
}
/* 구매관련 부튼 */
.btngroup button{
    width:200px;
    width:114px;
    height:54px;
}

.btn-group button{
    width:200px;
}



/* 상품 본문내용 */
.contents{
    margin-top: 80px; 
    margin-left:142px;
}

.count{
    float: right;
    position: relative;
    bottom: 4px;
}

.count-area{
    display: inline-block;
    height: 50px;
}

a{
    text-decoration:none !important;
}
.upBtn, .downBtn{
    width: 23px;
    height: 17px;
}


.upBtn{
    display: inline-block;
    background-size: cover;
}

.downBtn{
    display: inline-block;
    background-size: cover;
}
/* 장바구니 메세지 */
.alert{
    display: none;
    position: fixed;
    left:600px;
    bottom: 620px;
    background-color: black;
   padding:10px 50px 10px 20px;    
}   
   
.msg{
   text-align: center;
   color: green;
}
a{
   color: white;
   text-decoration: none;
}

a:hover{
    color: white;
}

.contents > .btn-group{
    width: 800px;
}

h4{
    padding-top: 23px;
    padding-bottom: 3px;
}


.top-reviews h4, .top-qna h4{
    display: inline-block;
}

.top-reviews button, .top-qna button{
    margin-top: 23px;
    float: right;
}



.contents ~ div{
   width: 997px;
}

ul.pagination{
    margin-left: 350px;
}

.clear{
    clear: both;
}