header > h3{
    display:inline-block;
    color:black;
}

header > .btn {
    float: right;
}

.select-box  h4{
    display: inline-block;
}

.select-box ul{
    display: inline-block;
}

.select-box ul li{
    float:right;
    /* padding: 10px 15px 10px 15px; */
    background: white;
    border:1px solid black;
    border-right: 0px;
}

article > div > div > ul > li:nth-child(1){
    border-right:1px solid black;
}

.select-box ul li a{
    padding: 0px 10px 0px 10px;
    display: block;
    line-height: 42px;
    font-size: 15px;
    text-decoration: none;
    color: black;
}